<h1>Chydak</h1>

Our SaPer has <%=Chydak.public_count %> chydak and counting!

<ul>
  <% @chydak.each do |chydak| %>
    <% unless chydak.archived? %>
    <li>
      <%= link_to chydak.title, chydak %>
    </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Chydilo", new_chydak_path %>